.header-line {
  max-width: 30px;
  width: 50%;
  border: 0;
  border-top: 2px solid #ff7300;
  box-shadow: 0 0 5px rgb(255, 102, 0, 0.8);
}

.about {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.aboutC {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tech-stack-list {
  background: rgba(255, 255, 255, 0.02);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}
