.aboutC {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tech-stack-list {
  background: rgba(255, 255, 255, 0.02);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  list-style-type: none;
  display: flex;
  gap: 20px;
  height: auto;
  flex-wrap: wrap;
}

.tech-stack {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.tech-stack:hover {
  transform: scale(1.1);
}

.tech-icons {
  width: 50px;
  height: 50px;
}

.main-scroll {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.main-scroll::-webkit-scrollbar {
  width: 1.5px;
}

.main-scroll::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-radius: 5px;
}

.main-scroll::-webkit-scrollbar-thumb {
  background: #ff7300;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(255, 115, 0, 0.7);
  transition: all 0.3s ease;
}

.main-scroll::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 5px 2px rgb(255, 115, 0, 0.7);
}
