.aboutC {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tech-stack-list {
  background: rgba(255, 255, 255, 0.02);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  list-style-type: none;
  display: flex;
  gap: 20px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tech-stack {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.tech-stack:hover {
  transform: scale(1.1);
}

.tech-icons {
  width: 50px;
  height: 50px;
}

.aboutC ul ul {
  padding: 0;
  margin: 0;
}

.aboutC ul ul li {
  list-style-type: none;
}

strong {
  color: #fcc361;
  text-shadow: 0 0 1px #ff7300, 0 0 1px rgb(255, 115, 0, 0.2);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  animation: wave 2.5s ease-in-out forwards; /* Plays once and stops */
  transform-origin: 70% 70%;
}
