.project-container .info-nav ul {
  justify-content: start;
}

.project-content {
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content ul {
  width: 100%;
  min-height: 450px;
  list-style-type: none;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.02);
}

.project-content ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  height: auto;
  text-align: center;
}

.project-content ul li img {
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 15px;
  max-width: 100%;
  text-align: center;
  height: 170px;
  transition: transform 0.3s ease;
  width: 100%;
}

.project-content ul li img:hover {
  transform: scale(1.05);
  opacity: 0.2;
}

.project-content ul li:hover .visit-site-icon {
  opacity: 1;
  transform: translateY(0);
}

.project-image {
  height: auto;
  position: relative;
  overflow: hidden;
}

.visit-site-icon {
  position: absolute;
  top: 40%;
  left: 41%;
  transform: translate(0%, 150%);
  color: white;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  width: 20px;
  height: 25px;
}

.project-content ul li:active .visit-site-icon svg {
  transform: scale(1.5);
  transition: transform 0.1s ease;
}

@media (max-width: 560px) {
  .info-nav ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 1052px) {
  .project-content ul {
    justify-content: center;
  }
}
