.additional-info {
  display: flex;
  padding-top: 20px;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
}

.experience,
.education {
  padding: 10px;
}

.exp-details,
.edu-details {
  position: relative;
}

.exp-info-container .exp-details ul li .resume-ul-desc .resume-desc,
.edu-info-container .edu-details ul li .edu-ul-desc .edu-desc {
  padding: 0;
  list-style-type: none;
}

.exp-info-container .exp-details ul li .resume-ul-desc,
.edu-info-container .edu-details ul li .edu-ul-desc {
  padding: 0;
}

.exp-info-container .exp-details > ul,
.edu-info-container .edu-details > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exp-info-container .exp-details > ul > li,
.edu-info-container .edu-details > ul > li {
  display: flex;
  padding-left: 45px;
  position: relative;
  flex-direction: column;
  gap: 5px;
}

.exp-info-container .exp-details > ul > li::before,
.edu-info-container .edu-details > ul > li::before {
  content: "â—";
  color: rgb(255, 174, 107);
  position: absolute;
  left: 2px;
  text-shadow: 0 0 8px rgba(255, 115, 0, 0.8), 0 0 12px rgba(255, 115, 0, 0.6),
    0 0 16px rgba(255, 115, 0, 0.4);
}

.exp-info-container .exp-details > ul::before,
.edu-info-container .edu-details > ul::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
}

.info-container {
  background: rgba(255, 255, 255, 0.02);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-title {
  text-align: start;
  width: 100%;
}

.resume-icons {
  width: 15px;
  height: 15px;
}

.resume-heads {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
}

.exp-title,
.edu-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 1300px) {
  .exp-info-container .exp-details > ul > li::before,
  .edu-info-container .edu-details > ul > li::before {
    left: 3px;
  }
}

@media (max-width: 1000px) {
  .exp-info-container .exp-details > ul > li::before,
  .edu-info-container .edu-details > ul > li::before {
    left: 4px;
  }
}

@media (max-width: 500px) {
  .info-nav ul li button {
    padding: 10px;
    font-size: 10px;
  }
}

@media (max-width: 340px) {
  .info-nav ul li button {
    padding: 5px;
    font-size: 8px;
  }
}

@media (max-width: 300px) {
  .info-nav ul li button {
    padding: 3px;
    font-size: 6px;
  }
}
