.additional-info {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exp-details {
  position: relative;
}

.exp-info-container .exp-details ul li .resume-ul-desc .resume-desc {
  padding: 0;
  list-style-type: none;
}

.exp-info-container .exp-details ul li .resume-ul-desc {
  padding: 0;
}

.exp-info-container .exp-details > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.exp-info-container .exp-details > ul > li {
  display: flex;
  padding-left: 45px;
  position: relative;
  flex-direction: column;
  gap: 10px;
}

.exp-info-container .exp-details > ul > li::before {
  content: "â—";
  color: rgb(255, 174, 107);
  position: absolute;
  left: 2px;
  text-shadow: 0 0 8px rgba(255, 115, 0, 0.8), 0 0 12px rgba(255, 115, 0, 0.6),
    0 0 16px rgba(255, 115, 0, 0.4);
}

.exp-info-container .exp-details > ul::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
}

.additional-info nav ul li button {
  background: none;
  color: inherit;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.additional-info nav ul li button.active {
  color: #ff7300;
  text-shadow: 0 0 6px rgba(255, 115, 0, 0.5), 0 0 10px rgba(255, 115, 0, 0.4);
}

.info-container {
  background: rgba(255, 255, 255, 0.02);
  width: 95%;
  height: auto;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-title {
  text-align: start;
  width: 100%;
}

.resume-icons {
  width: 15px;
  height: 15px;
}

.resume-heads {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
}

.exp-title,
.edu-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 1300px) {
  .exp-info-container .exp-details > ul > li::before {
    left: 3px;
  }
}

@media (max-width: 1000px) {
  .exp-info-container .exp-details > ul > li::before {
    left: 4px;
  }
}
